.quiz-manage-container {
    padding: 15px;



    .quiz-list {
        .btn-edit {
            margin-right: 7px;
        }
    }
}

@media screen and (max-width: 500px) {
    .quiz-button-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            width: 100%;
        }
    }
}