.nav-container {
    background-color: hsla(0, 32%, 42%, 0.2);

    .btn-login {
        background-color: aliceblue;
        color: black;
        border: 1px solid rgb(85, 83, 83);
        padding: 3px 22px;
        margin-right: 10px;

        &:hover {
            background-color: rgb(223, 227, 230);
            color: black;
        }
    }

    .btn-signup {
        background-color: rgb(56, 54, 54);
        color: aliceblue;
        border: 1px solid rgb(85, 83, 83);
        padding: 3px 22px;
        margin-right: 10px;

        &:hover {
            background-color: black;
            color: aliceblue;
        }
    }
}