.manage-question-container {
    padding: 10px;

    .question {
        display: flex;
        align-items: center;
        gap: 10px;


        .q-img-upload {
            display: flex;
            align-items: center;
            gap: 10px;

            .img-upload-label {
                width: 30px;
                height: 30px;
                cursor: pointer;

                .img {
                    width: 100%;
                    height: 100%;
                    color: green;
                }
            }

            .q-img {
                width: 100px;
                height: 70px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .add-q {
            font-size: 25px;
            color: green;
            cursor: pointer;

        }

        .remove-q {
            font-size: 25px;
            color: red;
            cursor: pointer;
        }
    }

    .answer {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 20px;

        .add-a {
            font-size: 25px;
            color: green;
            cursor: pointer;

        }

        .remove-a {
            font-size: 25px;
            color: red;
            cursor: pointer;
        }
    }
}