.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 40px;

    .left-content {
        border: 1px solid red;
        width: 70%;

        .q-body {
            .question {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .q-footer {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }

    .right-content {
        border: 1px solid green;
        width: 30%;
    }
}