.dashboard-container {
    display: flex;
    height: 70%;
    margin-top: 40px;

    .l-content {
        //border: 1px solid red;
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .total {
            border: 1px solid grey;
            width: calc(50% - 10px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 20px;


            .title {
                font-weight: 600;
                font-size: 20px;
            }

            .number {
                font-weight: 700;
                font-size: 30px;
            }
        }

        .total-users {
            .number {
                color: #8884d8;
            }
        }

        .total-admins {
            .number {
                color: #82ca9d;
            }
        }

        .total-quizs {
            .number {
                color: red;
            }
        }

        .total-questions {
            .number {
                color: blue;
            }
        }

    }

    .r-content {
        //border: 1px solid green;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 900px) {
    .dashboard-container {
        flex-direction: column;
        gap: 20px;

        .l-content {
            width: 100%;
        }

        .r-content {
            width: 100%;
        }
    }
}